# ========== Qt 编译输出 & QtCreator本地配置 ==========
build/
.qtcreator/
debug/
release/
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.ui.h
moc_*.cpp
qrc_*.cpp
ui_*.h

# CMake构建文件（如果你用CMake）
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# ========== 编译产物 ==========
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
*.exp

# ========== 临时、备份文件 ==========
*~
*.bak
*.tmp
*.swp
*.swo

# ========== IDE ==========
# QtCreator autosave
*.autosave
# VS Code
.vscode/
*.code-workspace
# Clion
.idea/
*.iml

# ========== 系统垃圾 ==========
.DS_Store
._*
Thumbs.db
Desktop.ini

# ========== 日志、环境文件 ==========
*.log
.env

# ========== 第三方库==========

third_party/SDL3/
